@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --fundo: #000;
    --titulos: rgba(245, 245, 245, 0.746);
    --cor1: #124673;
    --cor3: #0056b3;
    --links: #1e90ff;
    --text-color: rgba(245, 245, 245, 0.777);
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --largura-aside: 280px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    background-color: var(--fundo);
    color: var(--text-color);
    transition: all var(--transition-speed) ease;
}

header {
    position: sticky;
    top: 0;
    padding: 1.5% 2%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px rgba(245, 245, 245, 0.192);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 2rem;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.logo-icon {
    padding: 5%;
    border-radius: 50%;
    background: linear-gradient(130deg, #57ffc9, #0461c4, #124673);
}

nav .logo-text {
    color: var(--light-color);
}

nav .menu-link {
    overflow-x: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 2px;
    transition: all .4s ease;
    transform-origin: left;
}

.menu-link .logo-name{
    width: 100%;
    text-align: center;
    border: 1px solid #8fff0d;
    font-size: 1.5rem;
    padding: 3%;
    background: linear-gradient(130deg, #0461c4, #124673);
}

nav .menu-link.abrir {
    display: block;
}

.menu-link div:first-child {
    display: none;
}

.menu-link .link {
    display: flex;
}

.menu-link .link a.ativo {
    padding-left: .5rem;
    color: var(--light-color);
    border-left: 2px solid var(--cor3);
}

.menu-link .link a {
    flex: 1;
    font-size: 1rem;
    text-decoration: none;
    color: #57ffc9;
    font-weight: 600;
}

.menu-link select {
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--fundo);
    color: var(--light-color);
    border: none;
    outline: none;
    color: #1e90ff;
}

select option {
    background-color: var(--fundo);
}

button {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--light-color);

    display: none;
}

/*CONTEUDO PRINCIPAL*/

main.main-content {
    max-width: 1080px;
    margin: auto;
    margin-top: 5%;
    padding: 1% 3%;
    display: flex;
    gap: 1.5rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.epicoder {
    width: 95%;
    height: 100px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;

    background: url('../image/epicoder.jpg') no-repeat;
    background-position: center center;
    background-size: cover;

    display: none;
}


.conteudo .nome {
    font-variant: small-caps;
}

.conteudo h3 {
    color: #57ffcaa4;
}

.conteudo p {
    line-height: 1.5rem;
    letter-spacing: 2px;
    color: var(--light-color);
}

.conteudo .sobre {
    width: fit-content;
    background-color: var(--links);
    color: var(--light-color);
    padding: 1.5%;
    font-size: 1.2rem;
    border-radius: 5px;
}

.main-content .perfil {
    flex: 1;
    display: flex;
}

.main-content .perfil img {
    max-width: 400px;
}

.infor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.infor>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1.5px solid var(--dark-color);
}

.infor div:last-child {
    border-right: none;
}

.item1 span:first-child {
    color: #57ffc9;
}

.item1 span:last-child,
.item2 span:last-child,
.item3 span:last-child {
    color: #1e8fff81;
}

.item2 span:first-child {
    color: #8fff0d;
}

.item3 span:first-child {
    color: #ff9900;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: .8rem;
    text-transform: lowercase;
    color: darkgray;
    padding: 0.5rem 0;
}

footer p span {
    font-style: italic;
    color: #57ffca3b;
}

/*Responsividade*/
@media (max-width: 980px) {
    button {
        display: block;
    }

    nav .menu-link {
        display: none;
    }

    .perfil,
    .perfil img {
        display: none;
    }

    nav .menu-link {
        width: 50%;
        height: 100dvh;
        position: absolute;
        background-color: var(--fundo);
        background-attachment: fixed;
        border-right: 1px solid #1e8fff52;
        position: absolute;
        top: 0;
        left: 0;

    }

    nav .menu-link li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }

    nav .menu-link li select {
        padding: .5rem 1rem;
        width: 100%;
    }

    .menu-link div:first-child {
        display: block;
    }

    nav {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .epicoder {
        display: block;
    }

}