@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --fundo: #000;
    --titulos: rgba(245, 245, 245, 0.746);
    --cor1: #124673;
    --cor3: #0056b3;
    --links: #1e90ff;
    --text-color: rgba(245, 245, 245, 0.777);
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --largura-aside: 280px;

    --cor11: #0A192F;
    /*Fundo Principal*/
    --cor22: #007ACC;
    /*Botões, destaques, links*/
    --cor33: #B3DFFC;
    /*Hovers, fundos de cartões, ícones*/
    --cor44: #FFFFFF;
    /*Texto em fundo escuro, áreas de conteúdo*/
    --cor55: #E5E5E5;
    /*Bordas, divisores, plano de fundo secundário*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    background-color: var(--cor11);
    color: var(--text-color);
    transition: all var(--transition-speed) ease;
}

header {
    position: sticky;
    top: 0;
    height: 60px;
    padding: 1.5% 2%;
    background: var(--cor11);
    box-shadow: 0 0 5px rgba(245, 245, 245, 0.192);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 2rem;
}

nav .logo-text {
    color: var(--cor22);
}

nav .menu-link {
    overflow-x: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 2px;
    transition: display .3s ease;
}

.menu-link .logo-name {
    width: 100%;
    text-align: center;
    color: var(--cor44);
    border: 1px solid var(--cor22);
    padding: 10px;
    font-size: 3vw;
}

nav .menu-link.abrir {
    display: block;
}

.menu-link div:first-child {
    display: none;
}

.menu-link .link {
    display: flex;
}

.menu-link .link a {
    flex: 1;
    text-decoration: none;
    color: var(--cor22);
    font-weight: 600;
}

.menu-link .link a>i {
    color: var(--cor33);
}

button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--cor22);

    display: none;
}

/*CONTEUDO PRINCIPAL*/

main.main-content {
    max-width: 1080px;
    margin: auto;
    padding: 1% 2%;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    scroll-margin-top: 70px;
}

.destaque {
    color: var(--cor22);
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.destaque .nome {
    font-variant: small-caps;
    color: var(--cor22);
}

.conteudo h3 {
    color: var(--cor55);
}

.conteudo p {
    line-height: 1.5rem;
    letter-spacing: 2px;
    color: var(--cor44);
}

.main-content .perfil {
    flex: 1;
    display: flex;
}

.main-content .perfil img {
    max-width: 400px;
}

.infor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.infor>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1.5px solid var(--dark-color);
}

.infor div:last-child {
    border-right: none;
}

.item1 span:first-child {
    color: #57ffc9;
}

.item1 span:last-child,
.item2 span:last-child,
.item3 span:last-child {
    color: #1e8fff81;
}

.item2 span:first-child {
    color: #8fff0d;
}

.item3 span:first-child {
    color: #ff9900;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    scroll-margin-top: 70px;
}

section#sobre p {
    max-width: 400px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    color: var(--cor44);
    padding: 10px;
    border-bottom: 1px solid var(--cor33);
}

.projectos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projeto {
    height: 200px;
    flex: 0 1 300px;
    padding: 10px;
    background: var(--cor55);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.projeto p {
    color: var(--cor1);
}

.projeto a {
    color: var(--cor44);
    background-color: var(--cor11);
    padding: 5px;
    align-self: center;
    border-radius: 5px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skill {
    height: 200px;
    flex: 0 1 300px;
    padding: 10px;
    background: var(--cor55);
    border-radius: 5px;
}

.skill h3,
.projeto>h3 {
    text-align: center;
    font-size: 1rem;
    color: var(--cor11);
    margin-bottom: 1rem;
}

.skill-itens {
    list-style-position: inside;
}

.skill-item {
    padding: .5rem;
    color: var(--cor1);
}


footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: .9rem;
    text-transform: lowercase;
    color: darkgray;
    padding: 0.5rem 0;
}

footer p span {
    font-style: italic;
    color: var(--cor22);
}

/*Responsividade*/
@media (max-width: 980px) {
    button {
        display: block;
    }

    nav .menu-link {
        display: none;
    }

    .perfil,
    .perfil img {
        display: none;
    }

    nav .menu-link {
        height: 100dvh;
        position: absolute;
        background-color: var(--cor11);
        background-attachment: fixed;
        border-right: 1px solid #1e8fff52;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    }

    nav .menu-link li a {
        text-align: center;
        padding: .5rem 1rem;
    }

    .menu-link div:first-child {
        display: block;
    }

    nav {
        justify-content: space-between;
    }
}