@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    --fundo: #000;
    --titulos: rgba(245, 245, 245, 0.746);
    --cor1: #124673;
    --cor3: #0056b3;
    --links: #1e90ff;
    --text-color: rgba(245, 245, 245, 0.777);
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --largura-aside: 280px;
    --transition-speed: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--fundo);
    color: var(--text-color);
    transition: all var(--transition-speed) ease;
}

aside {
    width: 60px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--fundo);
    box-shadow: 2px 0 10px rgba(245, 245, 245, 0.184);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: var(--transition-speed) ;
    z-index: 100;
}
aside:hover{
    width: var(--largura-aside);
}

aside.abrir{
    width: var(--largura-aside);
}

.sidebar-header {
    padding: .5rem;
    border-bottom: 1px solid var(--cor3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    position: relative;
}

.sidebar-logo .fundo{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50px -50px);

    font-size: 2rem;
    opacity: .2;

}

.logo-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--links);
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--links);
}

.sidebar-menu {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}

.sidebar-menu h4{
    margin: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow-x: hidden;
}

.menu-list{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: .5rem;
    list-style: none;
}
.menu-list .menu-item{
    list-style: none;
    white-space: nowrap;

}
.menu-list li a{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    color: var(--links);
    text-decoration: none;
}
.menu-link.active{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.menu-item .menu-link{
    transition: var(--transition-speed);
}
.menu-item:hover{
    border-left: 2px solid var(--cor3);
    background-color: var(--dark-color);
    color: var(--light-color);
}

.menu-item:hover .menu-link{
    transform: translateX(10px);
}


/*Area de Perfil*/
.sidebar-footer {
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-top: 1px solid var(--cor3);
}

.user-avatar {
    width: 50px;
    border-radius: 5px;
    background-color: #e9ecef;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    margin-left: .5rem;
    flex: 1;
    color: var(--light-color);
    letter-spacing: 1px;
    white-space: nowrap;
    display: none;
}

aside:hover .user-info{
    display: block;
}

.user-name {
    font-size: 0.875rem;
    font-weight: 300;
}

.user-describe {
    font-size: 0.75rem;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: var(--largura-aside);
    padding: 1.5rem 2rem;
    transition: all var(--transition-speed) ease;
}

.main-content h3{
    color: var(--cor1);
    letter-spacing: 1px;
}

main a.sobre {
    background-color: var(--links);
    width: fit-content;
    padding: .2rem .4rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--light-color);
}

.menu-btn {
    background: none;
    color: var(--links);
    border: none;
    padding: 0.1rem .4rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    display: none;
}

.box-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

@media (max-width: 768px) {
    .menu-btn{
        display: block;
    }
    .main-content{
        margin-left: 60px;
    }
    
}