@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*PALETA 1*/
  --cor1: #1a33a2;
  --cor2: #f4a95b;
  --cor3: #ffffff;
  --cor4: #000000;

  /*PALETE 2*/
  --cor5: #202c5c;
  /*cabeçalho e rodapé*/
  --cor6: #c97b3c;
  /*Botões, links em destaque*/
  --cor7: #fbe4c0;
  /*Fundo da pagina, caixas*/
  --cor8: #42388e;
  /*Titulo, bordar, textos secundário*/
}

.container {
  min-height: 100%;
  max-width: 700px;
  margin: 5rem auto;
}

/*Confirmação*/

.confirmation-container {
  max-width: 100%;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.container h2 {
  font-size: 1.5rem;
  color: var(--cor8);
  margin-bottom: 1rem;
}

.confirmation-container p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #333;
}

.confirmation-code {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--cor8);
  background-color: #94a0cf;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem 0;
}

.voltar-button {
  display: inline-block;
  background-color: var(--cor5);
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;

  transition: 0.3s ease;
}

.voltar-button:hover {
  background-color: var(--cor1);
}

.voltar-button:active {
  transform: scale(0.9);
}

/*ACOMPANHAR DENUNCIA*/

.acompanhar-container {
  max-width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

#slogan {
  color: var(--cor5);
}

form > .form-box:last-child {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #94a0cf;
}

.form-box > input {
  width: 100%;
  padding: .5rem;
  border: none;
  outline: none;
  border-right: 1px solid #94a0cf;
}

.form-box > button{
  width: 10%;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--cor3);
    padding: .5rem;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: .3s ease;
}

.form-box > button:hover{
  background-color: rgb(214, 212, 212);
}

h4,h3{
  color: var(--cor1);
}

h4{
  text-align: left;
}

.resultado{
  min-height: 200px;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#information{
  color: rgba(133, 130, 130, 0.952);
  font-size: .8rem;
}
/*RESPONSIVIDADE*/

@media (max-width: 600px) {
  .confirmation-container {
    margin: 1rem;
    padding: 1.5rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .confirmation-container h2 {
    font-size: 1.3rem;
  }

  .confirmation-code {
    font-size: 1rem;
  }
}
