@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root {
  /*PALETA 1
  --cor1: #1A33A2;
  --cor2: #F4A95B;
  --cor3: #FFFFFF;
  --cor4: #000000;
*/
  /*PALETE 2*/
  --cor5: #202C5C;
  /*cabeçalho e rodapé*/
  --cor6: #C97B3C;
  /*Botões, links em destaque*/
  --cor7: #FBE4C0;
  /*Fundo da pagina, caixas*/
  --cor8: #42388E;
  /*Titulo, bordar, textos secundário*/
}

body {
  height: 100dvh;
  background-color: var(--cor7);
  color: #333;
  line-height: 1.6;
}

header {
  width: 100%;
  background-image: url('../midias/back.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: .9% 4%;
}
.cabecalho{
  width: 100%;
  max-width: 1280px;
  
  color: white;
  text-align: center;


  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  color: var(--cor6);
  padding: .5rem;
  border-radius: 5px;
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

#logo:hover {
opacity: .8;
}
header .cabeca{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
  color: #FBE4C0;
}

.cabeca span{
  margin-top: -.5rem;
  font-size: .8rem;
}

nav {
  background-color: var(--cor5);
  border-top: 2px solid var(--cor5);
  padding: .5rem;
  top: 0;
  left: 0;
  position: sticky;
  /*
  background: url('../midias/bacground-s1.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  */
}

#links_drop{
  background-color: var(--cor5);
  max-width: 280px;
  position: absolute;
  right: 0;
  top: -1px;
  overflow: hidden;
  padding: .5rem 1rem;
  border-radius: 5px 0 0 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  letter-spacing: 1px;
  transition: display .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.abrir{
  display: block;
}

nav a {
  color:
    /*var(--cor6)*/
    #f77307;
  text-decoration: none;
  font-weight: bold;
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav a:hover {
  text-decoration: underline;
  color: var(--cor7);
}

nav #menu_drop{
  background: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;

  display: none;
}

.hero {
  background-color: #fff;
  background: url('../midias/backclosed-woman.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 1rem;
  text-align: center;
}

.conteudo-hero h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--cor7);
}

.hero p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: #fff;
}

.content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content h3 {
  font-size: 1.5rem;
  color: var(--cor5);
  margin-bottom: 1rem;
}

.content p {
  color: var(--cor8);
  margin-bottom: 1rem;
}

.content ul {
  width: fit-content;
  list-style-position: inside;
  list-style: circle;
  margin-left: 1.5rem;
}

.content ul li {
  color: var(--cor8);
}

.denunciar-btn {
  display: inline-block;
  background-color: var(--cor6);
  color: white;
  padding: 0.5rem 1.1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
  letter-spacing: 1px;

  transition: all .3s ease-in-out;
}

.denunciar-btn:hover{
  background-color: #5c51acef;
}

.voltar-button:hover {
  background-color: #005566;
}


.confirmation-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirmation-container h2 {
  font-size: 1.5rem;
  color: var(--cor8);
  margin-bottom: 1rem;
}

.confirmation-container p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #333;
}

.confirmation-code {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--cor8);
  background-color: #94a0cf;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem 0;
}

.voltar-button {
  display: inline-block;
  background-color: var(--cor6);
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
}

.voltar-button:hover {
  background-color: #005566;
}

footer {
  border-top: 1px solid #747070;
  background-color: #fbe4c050;
  color: white;
  text-align: center;
  padding: .5rem 2%;


  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.conteudo-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}
.conteudo-footer a{
  text-decoration: none;
  color: #74707096;
  font-size: .8rem;
}

.conteudo-footer a:hover{
  text-decoration: underline;
}

footer p {
  color: #74707096;
  font-size: .9rem;
  flex: auto;
}