* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none
}

:root {
  /*PALETA 1*/
  --cor1: #1a33a2;
  --cor2: #f4a95b;
  --cor3: #ffffff;
  --cor0: #000000;
  --cor4: #4d4c4c;

  /*PALETE 2*/
  --cor5: #202c5c;
  /*cabeçalho e rodapé*/
  --cor6: #c97b3c;
  /*Botões, links em destaque*/
  --cor7: #fbe4c0;
  /*Fundo da pagina, caixas*/
  --cor8: #42388e;
  /*Titulo, bordar, textos secundário*/
}

body {
  position: relative;
  background-color: rgb(245, 245, 245);
}

aside {
  background-color: #0d36eb;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 220px;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  transition: all 0.4s ease;
  transition-duration: 300ms;
  transform-origin: left;
}

.close_menu {
  width: 80px;
}

.close_menu #logo {
  display: none;
}

.close_menu .menu_text {
  display: none;
}

.close_menu .header-aside {
  gap: 0.3rem;
}

aside .header-aside {
  border-bottom: 1px solid #ffffff9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.menu_text {
  text-wrap: nowrap;
}

.header-aside div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-aside #logo {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

.header-aside button {
  cursor: pointer;
}

aside nav#navbar {
  height: 100%;
  margin-top: 2rem;
}

nav#navbar ul {
  display: flex;
  flex-direction: column;
}

nav#navbar ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

nav#navbar ul li:hover {
  background-color: #516de9ce;
}

nav#navbar ul li.activo {
  background: #516de9ce;
}

nav#navbar ul li > a {
  color: #ffffff;
  font-size: 1rem;
}

aside .sair {
  border-top: 1px solid #faf8f862;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.sair a {
  color: #ffffff;
}
#aside-btn {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
}

/*ESTILIZAÇÂO DO CORPO*/
#conteudo-principal {
  margin-left: 235px;
}

#conteudo-principal header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

header h2 {
  color: #0d36eb;
}

#user_admin {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#user_admin .perfil-adm {
  width: 3rem;
  border: 2px solid #0d36eb;
  border-radius: 50%;
  height: 3rem;
  overflow: hidden;
  /* background: url("/midias/user_perfil.jpeg") no-repeat;
  background-position: center;
  background-size: cover; */
}

.perfil-adm img {
  height: 100%;
  width: 100%;
}

#user_admin .nome-adm {
  color: rgb(150, 148, 148);
  font-weight: 600;
}

/* MAIN - CONTEUDO PRINCIPAL */
#principal_content {
  /* background-color: darkgray; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px;
}

#box-denuncias {
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.box-item {
  flex: 0 1 250px;
  height: 150px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: transform 0.3s ease;
}

.box-item:hover {
  transform: translateY(-7px);
}

.box-item .container_box {
  display: flex;
  justify-content: space-between;
}

.item-total,
.item-ativa,
.item-resolvida {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container_box .titulo_box {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(136, 135, 135);
}

.container_box .qnt_box {
  font-size: 1.5rem;
  font-weight: 600;
  color: darkseagreen;
}

#total .qnt_box {
  color: #2563eb;
}

#ativas .qnt_box {
  color: #dc2626;
}

#resolvidas .qnt_box {
  color: #16a34a;
}

.container_box .icone_box {
  height: fit-content;
  color: #ffffff;
  background-color: rgb(255, 140, 0);
  border-radius: 45%;
  padding: 0.2rem;
  box-shadow: 5px 5px 30px rgba(255, 140, 0, 0.911);
}

#total .icone_box {
  background-color: #2563eb;
  box-shadow: 0px 0px 15px #2563eb;
}

#ativas .icone_box {
  background-color: #dc2626;
  box-shadow: 0px 0px 15px #dc2626;
}

#resolvidas .icone_box {
  background-color: #16a34a;
  box-shadow: 0px 0px 15px #16a34a;
}

.box-item .detalhe_box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.box-item .detalhe_box p:first-child {
  font-size: 11pt;
  font-weight: 600;
}

.box-item .detalhe_box p:last-child {
  color: rgb(136, 135, 135);
}

#total .detalhe_box p:first-child {
  color: #2563eb;
}

#ativas .detalhe_box p:first-child {
  color: #dc2626;
}

#resolvidas .detalhe_box p:first-child {
  color: #16a34a;
}

/* -------- DENUNCIAS RECENTES ---------*/

#recentes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#recentes h3 {
  color: #4d4c4c;
  font-weight: 600;
}

.container-recentes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.item-recente {
  display: flex;
  gap: 1rem;
  border-right: 1px solid rgba(128, 128, 128, 0.349);
}

.item-recente .icone {
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  border-radius: 45%;
  padding: 0.2rem;
}

.item-recente:last-child {
  border: none;
}
.detalhes-recentes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.detalhes-recentes h4 {
  color: #4d4c4c;
}

.detalhes-recentes p {
  font-size: 10pt;
  color: gray;
}

.detalhes-recentes .nova {
  background: #16a34a;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: var(--cor3);
  font-size: 12px;
}

.detalhes-recentes .urgente {
  text-align: center;
  background: #dc2626;
  padding: 5px;
  border-radius: 5px;
  color: var(--cor3);
  font-size: 12px;
}
.detalhes-recentes .resolvida {
  background: #0d36eb;
  border-radius: 5px;
  padding: 5px;
  color: var(--cor3);
  font-size: 12px;
  text-align: center;
}

#recentes a {
  color: #0d36eb;
  font-size: 10pt;
  font-weight: 600;
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#recentes a:hover{
  color: #202c5c;
}

/*--------- DISTRIBUIÇÃO POR CATEGORIA ---------*/
#categoria{
  border-radius: 5px;
  background: var(--cor3);
   padding: 0.5rem 1rem;
   margin-bottom: 1rem;
}

#cat_denuncias{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.items-den{
  display: flex;
  justify-content: space-between;
}

.items-den .icone{
  width: 2rem;
  color: transparent;
  border-radius: 50%;
}

.items-den .porcento{
  font-size: 15px;
  font-weight: 600;
}

#importantes_info{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#importantes_info h3{
  color: #4d4c4c;
}

#importantes_info ul{
    display: flex;
  flex-direction: column;
  gap: .5rem;
}

#importantes_info ul li{
  color: gray;
  font-size: 14px;
}

#importantes_info ul li .icone_info{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}


/*---------- DENUNCIAS RECEBIDAS ---------*/

header #ativas{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

#ativas h2{
  color: #374151;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: .5rem;
}

#ativas img{
  background: #dc2626;
  border-radius: 50%;
  padding: 4px;
}

#ativas p#aviso{
  color: gray;
  font-size: 11pt;
}

#filtro_container{
  background: var(--cor3);
  border-radius: 5px;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

}

.input_filtro{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input_filtro label{
  display: block;
  color: #374151;
  font-weight: 600;
  font-size: 11pt;
}

.input_filtro select{
  width: 100%;
  background: #f3f4f6;
  padding: .5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid gray;
}

.add_filtro{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: end;
}

.add_filtro > button{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--cor3);
  padding: .5rem;
  background-color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13pt;
  cursor: pointer;
}

.add_filtro > button:active{

}

#tabela_container{
  min-height: calc(100vh - 300px);
  overflow-x: auto;
  width: 100%;
}

#tabela_container table{
  background: var(--cor3);
  border-radius: 5px;
  width: 100%;
  overflow-x: hidden;
  border-collapse: collapse;
}

table thead{
  background: #f3f4f6;
}

table thead tr th{
  padding: .5rem;
  font-weight: 500;
  color: gray;
}

table  tbody tr:nth-child(odd){
  background-color: #f9fafb;
}

table tbody tr td{
  padding: 1rem .5rem;
  white-space: nowrap;
  color: gray;
}

table tbody tr td p.id_dn{
  font-weight: bold;
  color: #000000;
}