@charset "UTF-8";

:root {
    --cor1: #1F54BF;
    --cor2: #020F59;
    --cor3: #021373;
    --cor4: #719ED9;
    --cor5: #D0DCF2;
    --cor6: #012340;
    --cor7: #8A9BA6;
    --cor8: #536473;

    --color-neutro-0: #0E0C0C;
    --color-neutro-10: #171717;
    --color-neutro-20: #A8A29E;
    --color-neutro-30: #F5F5F5;
}

/* Pagina Inicial - LOGIN*/

main.login {
    min-height: 100vh;

    display: flex;
    overflow: hidden;
}

#img-destaque {
    flex: 1;
    max-width: 60%;
    background: url('../image/produtos/backboss.jpg') no-repeat center center;
    background-size: cover;
}

/*FOMULARIO*/

main .formulario {
    flex: 1;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario form#login {
    padding: 1.5rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-neutro-30);
    box-shadow: 0 0 10px rgba(44, 44, 44, 0.377);
}

#login .box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#login .input-form {
    flex: 1;
    border: 1px solid var(--cor8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #012340;
}

#login .input-form input {
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    background: transparent;
}

#login .input-form i {
    font-size: 1.2rem;
    color: var(--cor1);
    padding: .5rem;
}

#login .outros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10pt;
}

#login .outros span:last-child a {
    color: var(--cor8);
    text-decoration: underline;
}

.error {
    font-size: 12px;
    color: #dc2626;
    max-width: 200px;
}

#login .btns button{
    color: var(--color-neutro-30);
    cursor: pointer;
    font-size: 1.2rem;
    padding: .5rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(to right, var(--cor3), var(--cor1), var(--cor3));

    transition: all .3s ease-in-out;
}


/*---------------------*/

/*CRIAR CONTA*/
.conta {
    min-height: 100vh;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 5rem;
}

#logo {
    position: relative;
    text-align: center;
    color: var(--cor1);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#logo i {
    color: var(--color-neutro-30);
    font-size: 12pt;
}

#logo::after {
    content: '';
    position: absolute;
    height: 5px;
}

.informacao {
    padding: 1.5rem;
    width: fit-content;
    color: var(--color-neutro-0);
    display: flex;

    flex-direction: column;
    gap: 1rem;
}


form#contaNova {
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--color-neutro-30);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    box-shadow: 0 0 10px rgba(44, 44, 44, 0.377);
}

form#contaNova h1,
#login h1 {
    color: var(--cor1);
}

.input-box {
    border: 1px solid var(--cor8);
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.input-box input {
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    background: none;
}

.input-box i {
    font-size: 1.2rem;
    color: var(--cor1);
    padding: .5rem;
}

.botao button {
    color: var(--color-neutro-30);
    cursor: pointer;
    font-size: 1.2rem;
    padding: .5rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(to right, var(--cor3), var(--cor1), var(--cor3));

    transition: all .3s ease-in-out;
}

.botao button:active{
    transform: scale(.9);
}

#login .btns button:active{
    transform: scale(.9);
}

#contaNova>#temConta, #login > .naoTemConta{
    margin-top: 2rem;
    color: var(--cor8);
    text-align: center;
}

#temConta a, #login > .naoTemConta a{
    color: var(--cor1);
    font-weight: 500;
}