@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*ESTILIZAÇÃO APENAS DO HEADER & FOOTER - GERAL*/

:root {
    --cor1: #2563eb;
    --cor2: #020F59;
    --cor3: #021373;
    --cor4: #719ED9;
    --hero: #dbeafe;
    --cor5: #D0DCF2;
    --cor6: #012340;
    --cor7: #8A9BA6;
    --cor8: #3d4953;

    --color-neutro-0: #0E0C0C;
    --color-neutro-10: #111827;
    --color-neutro-20: #A8A29E;
    --color-neutro-30: #F5F5F5;
}

html,
body {
    min-height: 100vh;
    background-color: #f9fafb;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor5);
    font-size: 1rem;
}

/* HEADER */

header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 2rem;
    z-index: 1;

    display: flex;
    background-color: #ffffff
        /*042940/566573*/
    ;
    /*#181d26*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.1);
}

#logo {
    font-size: 1.5rem;
    color: var(--cor1);
    font-weight: bold;
}

.itens-links {
    display: flex;
    align-items: center;
}

header #sms {
    display: none;
    position: fixed;
    left: 2rem;
    top: 100px;
    background-color: #8eff0dda;
    color: var(--cor6);
    font-size: .8rem;
    padding: 0.8ex;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: opacity .5s;
    z-index: 1000;
}

#form_links {
    display: flex;
    align-items: center;
}

.itens-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.itens-links li:first-child {
    border-radius: 5px;
    padding: .1rem .3rem;
    border: 1px solid var(--cor4);
}

.itens-links li a {
    color: var(--cor4);
    text-decoration: underline;

}

#nav_links {
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav_links a {
    color: rgb(75, 74, 74);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .3s ease;
    font-weight: 600;
}

#nav_links a>span {
    font-size: 9pt;
}

#nav_links a:hover {
    color: #2563eb;
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
}

header div a {
    color: var(--cor4);
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header div a:hover {
    color: var(--cor3);
}

#btn_menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    color: var(--color-neutro-0);
    background: none;
    border: none;
}

/* Conteudo Principal*/

.menu-lateral {
    position: fixed;
    height: 100dvh;
    width: 40px;
    overflow: hidden;
    background-color: #042c50;
    padding-top: 80px;

    transition: .3s ease;
}

.menu-lateral.open {
    width: 230px;
}

.menu-lateral nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-lateral nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.menu-lateral nav ul li>.link {
    padding: 5px 0 5px 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1em;
    text-wrap: nowrap;

    transition: background .3s;
}

.menu-lateral nav ul li>.link:hover {
    background: #151515ad;
}

.menu-lateral nav ul li>.link.ativo {
    border-left: 2px solid #42d366;
    color: #42d366;
    background: #151515ad;
}

.menu-lateral nav #conta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7px;
    margin-bottom: 7px;
    border-top: .5px solid var(--cor1);
}

#conta .perfil>.perfil-avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.menu-lateral nav #conta .user-infor {
    display: flex;
    flex-direction: column;
}

nav #conta .user-infor #user-name {
    color: var(--cor5);
    font-size: 12pt;
    text-wrap: nowrap;
}

.user-infor a {
    color: var(--cor7);
    font-size: 9pt;
    text-decoration: underline;
}

/* --------- MAIN ----------*/

.conteudo-principal {
    margin-top: 50px;
}

#hero_section {
    width: 100%;
    background: var(--hero);
    padding: 3.5rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

#hero_section h2 {
    color: var(--cor6);
    font-size: 2rem;
    font-weight: bold;
    text-wrap: nowrap;
}

#hero_section p {
    color: var(--cor6);
    font-size: 1rem;
}

#hero_section a {
    color: var(--color-neutro-30);
    background-color: var(--cor1);
    padding: 1rem 1.1rem;
    border-radius: 50px;
    transition: all .3s ease;
}

#hero_section a:hover {
    background-color: rgb(2, 61, 179)
}

/* --------  Destaque --------- */
#destaques,
#categoria, #compra_grupo, #depoimentos, #sobre {
    margin: auto;
    padding: 3.5rem 2.6rem;
}

#destaques h3,
#categoria h3, #compra_grupo h3,#depoimentos h3, #sobre h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: var(--cor6);
}

#cards_destaques, #cards_depoimentos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#cards_destaques>.cards, #cards_categorias > .cards, #cards_depoimentos > .cards {
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
}

#cards_destaques>.cards img{
    height: 130px;
    width: 100%;
    border-radius: 10px;
}

#cards_destaques>.cards h4{
    color: var(--cor6);
    font-weight: 6
    00;
}

#cards_destaques>.cards .preco, #compra_grupo .preco{
    font-weight: 600;
    color: #2563eb;
}

/* --------- Categorias ----------- */
#categoria, #depoimentos{
    background-color: #f3f4f6;
}

#cards_categorias > .cards{
    height: 100px;
}

#cards_categorias > .cards p{
    color: var(--cor8);
}

#categoria #cards_categorias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#compra_grupo p{
    margin-bottom: 1.2rem;
    color: var(--cor8);
}

#compra_grupo a{
    background-color: #44b660;
    color: var(--color-neutro-30);
    border-radius: 50px;
    text-align: center;
    padding: .8rem 1rem;

    transition: all .3s ease;
}

#compra_grupo a:hover{
    background-color: #024d15;
}

/* ------ Depoimentos --------- */

#cards_depoimentos > .cards{
    height: 110px;
}

#cards_depoimentos > .cards span{
    color: var(--cor7);
    align-self: flex-start;
    font-size: small;
}

#cards_depoimentos > .cards p{
    color: var(--cor8);
}

/*------- Sobre Nós --------- */
#sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sobre h3{
    font-weight: bold;
}

#sobre p{
    text-align: center;
}

#sobre a{
    background: var(--cor1);
    text-align: center;
    border-radius: 50px;
    text-align: center;
    padding: .8rem 1rem;
    margin: 2rem 0;
}

/* ------- Rodape --------*/

footer{
    background: var(--color-neutro-10);
    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.281);
}

#footer_social_media{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#footer_copyright{
    color: var(--color-neutro-30);
    font-size: small;
}