@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", serif;
}

:root {
    --cor1: #1F54BF;
    --cor2: #020F59;
    --cor3: #021373;
    --cor4: #719ED9;
    --cor5: #D0DCF2;
    --cor6: #012340;
    --cor7: #8A9BA6;
    --cor8: #536473;

    --color-neutro-0: #0E0C0C;
    --color-neutro-10: #171717;
    --color-neutro-20: #A8A29E;
    --color-neutro-30: #F5F5F5;
}

/*
        main.container {
            width: 100%;
            height: 100dvh;
            background: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        strong{
            color: var(--cor3);
        }
        #byteshop{
            font-size: 1.8em;
            text-align: right;
            padding-right: 1rem 5rem;
        }

        h1 {
            font-size: 2.5em;
            color: var(--cor2);
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: var(--cor6);
        }

        #footer_content{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;
            padding: 1rem 3.5rem;
        }

        #footer_content #logo{
            width: 190px;
            height: 100px;
        }

        #footer_content p{
            color: var(--cor7);
        }
        */
html,
body {
    min-height: 100vh;
    background-color: var(--color-neutro-30);
}

.conteudo-principal h1 {
    color: var(--cor1);
    font-size: 2.5rem;
}

.conteudo-principal p {
    line-height: 1.5;
    font-size: 1.2rem;
}

.conteudo-principal p strong {
    color: var(--cor6);
}

.conteudo-principal h3 {
    font-size: 1.5rem;
    text-align: center;

}