@charset "UTF-8";


:root {
    --cor1: #2980b9;
    --cor2: #2c3e50;
    --cor3: #E3E9F7;
}

@media screen and (max-width: 840px) {

    .links{
        display: none;
    }
    #menu-drop {
        display: block;
    }

    .container {
        flex-direction: column;
    }

    .box-content {
        padding: 0 1rem;

    }

    .box-content #icones {
        width: 60%;
    }
}

@media screen and (max-width: 690px) {
    .container img {
        display: none;
    }

    .container {
        margin-top: 0;
        padding: 1rem;
    }


    .box-content {
        padding: 0 .2rem;

    }

    .box-content #icones {
        width: 100%;
    }
    

}