@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: "Ancizar Serif", serif;
}

:root {
    --cor1: #2980b9;
    --cor2: #2c3e50;
    --cor3: #E3E9F7;
}


body {
    background: #FFF;
}

/*CABEÇALHO*/
header {
    width: 100%;
    height: 5%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #2980b9;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5% 7%;
    /*margin-bottom: 5%;*/
}

header .logo {
    color: var(--cor2);
    font-size: 1.8rem;
    font-weight: 700;
    transition: 0.5s ease;
}

.logo:hover {
    color: #ffffff86;
}

header nav {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    transition: .5s ease;
    letter-spacing: 1px;
}

nav a:hover {
    color: #263a4e;
    transform: translateY(-10px);
    border-bottom: 1.5px solid #263a4e;
}

#menu-drop {
    background: transparent;
    font-size: 1.7rem;
    font-weight: 700;
    color: #E3E9F7;
    cursor: pointer;

    display: none;
}

/*------END HEADER---------*/

/*conatiner*/
.container {
    padding: 1.5rem;
    max-width: 992px;
    min-height: 100vh;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;

    transition: flex-direction .3s ease;
}

img {
    flex: auto;
    max-width: 50%;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}

.box-content {
    flex: auto;
    margin-top: 1.5rem;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box-content h1 {
    color: var(--cor2);
    font-size: 2.5rem;
}

h1 span {
    color: var(--cor1);
}

.box-content h3 {
    font-size: 1.5rem;
    color: #2c3e50;
}

.box-content p {
    line-height: 1.6;
    color: #2c3e50;
    text-align: justify;
    letter-spacing: 1px;
}

.box-content strong {
    color: var(--cor1);
}

.box-content .social-icons {
    background-color: #08294be1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .6rem 0;
    border-radius: 10px;
}

.social-icons a {
    cursor: pointer;
    font-size: 1.6rem;
    transition: all .5s ease;
    color: #E3E9F7;
    font-weight: 600;
}

.social-icons a:hover {
    transform: translateY(-5px);
    color: #2980b9;
}

.sobre {

    width: fit-content;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #2980b9;
    padding: .6rem .5rem;
    border-radius: 10px;

    transition: all .5s ease;
}

.sobre:hover {
    background-color: #297fb9ab;

    a {
        color: #263a4e;
    }
}

.sobre a {
    color: #E3E9F7;
    transition: all .5s ease;
}

/*RODAPE*/

footer {
    background-color: var(--cor3);
    text-align: center;
    color: rgb(99, 95, 95);
    padding: .5rem;
}