@charset "UTF-8";

:root {
    --cor1: #2980b9;
    --cor2: #2c3e50;
    --cor3: #E3E9F7;
}

.content {}

.tecnologias li span {
    color: #0a4b77;
    font-weight: 700;
}

.tecnologias {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    list-style-type: none;
    list-style-position: inside;
    padding: .5rem;
    line-height: 1.6;
    font-weight: 500;
    color: #1a2633;
    text-align: justify;
    letter-spacing: 1px;
}

.tecnologias2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    text-align: center;

    list-style-type: none;
    list-style-position: inside;
    padding: .5rem;
    line-height: 1.6;
    font-weight: 500;
    color: #1a2633;
    text-align: justify;
    letter-spacing: 1px;


}

.tecnologias2 li {
    flex: 1 1 150px;
    text-align: justify;
    background-color: #19395879;
    padding: 1rem;
    border-radius: 8px;
    min-width: 150px;
}

.tecnologias li {
    text-align: justify;
}

/*CSS PARA OUTRA PAGINA (Contacto)*/

main #contacto{
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
    text-align: center;
}

main #titulo2{
    font-size: 1.7rem;
    color: #0a4b77;
}

main #contacto li a{
    font-size: 1.2rem;
    letter-spacing: 1.6px;
    font-weight: 600;
    color: #0a4b77;

    transition: all .3s ease;
}

main #contacto li{
    flex: auto;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main #contacto li:hover{
    transform: translateY(-5px);
}

#whatsapp:hover a{
    color: rgb(37, 211, 102);
}

#instagram:hover a{
    color: rgb(244, 196, 63);
}

#telegram:hover a{
    color: rgb(36, 161, 222);
}
#linkedin:hover a{
    color: rgb(0, 119, 181);
}

#contactos p{
    text-align: center;
}