@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor10: #212121;
    --cor15: #263238;
    --cor20: #F5F5F5;
    --cor30: #2196F3;
    --cor40: #673AB7;
    --cor50: #0D47A1;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#avatar {
    width: 200px;
    border: 2px dotted red;
}

#avatar img {
    width: 100%;
}

#discricao {
    display: grid;
    grid-template-columns: repeat(1fr 2fr );
}

#content-desc{
    border: 2px dotted green;
}