@charset "UTF-8";

:root {
    --cor10: #212121;
    --cor15: #263238;
    --cor20: #F5F5F5;
    --cor30: #2196F3;
    --cor40: #673AB7;
    --cor50: #0D47A1;
}


#container {
    width: 88%;
    height: 100%;

    margin: auto;
    padding: 1.5rem;

    display: flex;

}

#projetos {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    letter-spacing: 1.3px;
}

#projetos h1 {
    padding: 10px 0;
    text-align: center;
    font-size: 3em;
    outline: none;
    border: none;
    border-bottom: 2.5px solid var(--cor30);
    border-radius: 3px;
    cursor: pointer;

    /*box-shadow: 0 0 5px var(--cor20);*/
    transition: ease-in .5s;
}

#projetos h1:hover{
    box-shadow: 0 0 10px var(--cor30);
}
