:root {
    --cor1: #2563eb;
    --cor2: #020F59;
    --cor3: #021373;
    --cor4: #719ED9;
    --hero: #dbeafe;
    --cor5: #D0DCF2;
    --cor6: #012340;
    --cor7: #8A9BA6;
    --cor8: #3d4953;

    --color-neutro-0: #0E0C0C;
    --color-neutro-10: #111827;
    --color-neutro-20: #A8A29E;
    --color-neutro-30: #ffffff;
}
/* 
.conteudo-principal {
    max-width: 1080px;
    margin-top: 50px;
    margin: 50px auto;
    padding: 2rem;
}

.conteudo-principal h2 {
    color: var(--cor6);
    font-size: 2rem;
    font-weight: bold;
    text-wrap: nowrap;
    margin-bottom: 1.5rem;
}

.lista-itens {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.lista-itens .item {
    flex: 1;
    background-color: var(--color-neutro-30);
    border-radius: 10px;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.103);
}

.lista-itens .item div:first-child{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.lista-itens .item img {
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.detalhes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--cor8);
    font-size: small;
}

.detalhes h3 {
    color: var(--cor6);
}

.detalhes .preco {
    font-size: medium;
    font-weight: 600;
    color: #2563eb;
}

.lista-itens .item .remover {
    font-size: medium;
    background: transparent;
    border: none;
    outline: none;
    color: rgba(255, 0, 0, 0.726);
    cursor: pointer; 
}
*/

/* #resumo {
    margin: 2rem 0 2rem auto;

    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1.5rem;
    background-color: var(--color-neutro-30);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.185);
}

#resumo .subvalores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--cor8);
    font-size: 11pt;
    border-bottom: 1px solid var(--cor5);
    padding: 1rem 0;
}


.subvalores div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#resumo .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: var(--cor6);
    font-size: large;
}

#resumo button{
    background-color: #2c8843;
    color: var(--color-neutro-30);
    padding: 1rem 0;
    font-size: medium;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: .3s ease-in-out;
}

#resumo button:active{
    transform: scale(.9);
} */
