

/* FOOTER */

footer {
    background: var(--color-neutro-0);
    color: var(--cor7);
    font-size: .8rem;
}

#footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer_content p {
    padding: .5rem;
}

#footer_content p a {
    text-decoration: underline;
}

#footer_social_media {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer_social_media a {
    color: var(--cor4);
    font-size: 1.2rem;
    transition: .3s ease;
}

#footer_social_media a:hover {
    color: var(--cor1);
}

#insta img {}

#facebook img {}

#whats img {}

.categoria h3 {
    color: var(--cor8);
}

.categoria ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    padding: .5rem .5rem;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutro-0);
    font-size: .7rem;
    padding: .5rem;
    font-weight: 100;
    border-top: 1px solid #8eff0d42;
}