@charset "UTF-8";

:root {
    --cor1: #1F54BF;
    --cor2: #020F59;
    --cor3: #021373;
    --cor4: #719ED9;
    --cor5: #D0DCF2;
    --cor6: #012340;
    --cor7: #8A9BA6;
    --cor8: #536473;

    --color-neutro-0: #0E0C0C;
    --color-neutro-10: #171717;
    --color-neutro-20: #A8A29E;
    --color-neutro-30: #ffffff;
}

/* Pagina Inicial - LOGIN*/

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../image/produtos/backboss2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

#container{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;


    background-color: var(--color-neutro-30);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(44, 44, 44, 0.247);
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .4rem;
    margin-bottom: .5rem;
}

.header h1{
    color: var(--cor1);
}

.header p{
    font-size: small;
    color: var(--cor8);
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.input-form label{
    color: var(--cor6);
    font-size: small;
    font-weight: 600;
}

.input-form input{
    padding: .5rem;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--cor7);
}

.input-form a{
    text-align: right;
    color: var(--cor4);
    font-size: small;
}

form button{
    background-color: var(--cor1);
    border: none;
    border-radius: 10px;
    color: var(--color-neutro-30);
    font-size: medium;
    padding: .5rem;
    cursor: pointer;

    transition: .3s ease-in-out;
}

form button:active{
    transform: scale(.9);
}

#container div.divisor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--color-neutro-20);
}

#container div.divisor hr{
    flex: 1;
}

#container button.google{
    padding: .5rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.267);
    cursor: pointer;

    transition: .3s ease-in-out;
}

#container button.google:active{
    transform: scale(.9);
}

#container p{
    text-align: center;
    color: var(--cor8);
    font-size: 11pt;
}

#container p a{
    color: var(--cor1);
    font-size: 11pt;
    font-weight: 600;
}

#error_email, #error_senha{
    font-size: small;
    color: red;
}

/*---------------------*/

/*CRIAR CONTA*/
.conta {
    min-height: 100vh;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 5rem;
}

#logo {
    position: relative;
    text-align: center;
    color: var(--cor1);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#logo i {
    color: var(--color-neutro-30);
    font-size: 12pt;
}

#logo::after {
    content: '';
    position: absolute;
    height: 5px;
}

.informacao {
    padding: 1.5rem;
    width: fit-content;
    color: var(--color-neutro-0);
    display: flex;

    flex-direction: column;
    gap: 1rem;
}


form#contaNova {
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--color-neutro-30);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    box-shadow: 0 0 10px rgba(44, 44, 44, 0.377);
}

form#contaNova h1,
#login h1 {
    color: var(--cor1);
}

.input-box {
    border: 1px solid var(--cor8);
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.input-box input {
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    background: none;
}

.input-box i {
    font-size: 1.2rem;
    color: var(--cor1);
    padding: .5rem;
}

.botao button {
    color: var(--color-neutro-30);
    cursor: pointer;
    font-size: 1.2rem;
    padding: .5rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(to right, var(--cor3), var(--cor1), var(--cor3));

    transition: all .3s ease-in-out;
}

.botao button:active{
    transform: scale(.9);
}

#login .btns button:active{
    transform: scale(.9);
}

#contaNova>#temConta, #login > .naoTemConta{
    margin-top: 2rem;
    color: var(--cor8);
    text-align: center;
}

#temConta a, #login > .naoTemConta a{
    color: var(--cor1);
    font-weight: 500;
}