/* APLICANDO RESPONSIVIDADE*/


/* Smartphone */

@media only screen and (max-width: 767px) {
    #nav_links {
        display: none;
    }



    #hero_section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #cards_destaques {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    #cards_categorias {
        grid-template-columns: repeat(2, 1fr);
    }

    #cards_categorias>div p {
        font-size: small;
    }

    #cards_depoimentos {
        flex-direction: column;
    }

    #container_filtro {
        flex-direction: column;
        gap: 1rem;
    }

    #container_filtro h2 {
        align-self: flex-start;
    }

    #filtros {
        width: 100%;
        flex-direction: column;
    }

    #filtros>input,
    select {
        width: 100%;
    }

    /* -------- Produtos -------- */

    #produtos_box {
        grid-template-columns: repeat(1, 1fr);
    }
    #produtos_box > div{
        max-width: 100%;
    }
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {


    /* #container_filtro {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    #container_filtro h2 {
        text-align: center;
    }

    #filtros {
        justify-content: space-between;
    }

    #filtros>input,
    select {
        flex: 1;
    } */
}


/* Desktop */
@media only screen and(min-width: 1024px) {
    #btn_menu {
        display: none;
    }
}