
:root {
    --cor1: #2563eb;
    --cor2: #020F59;
    --cor3: #021373;
    --cor4: #719ED9;
    --hero: #dbeafe;
    --cor5: #D0DCF2;
    --cor6: #012340;
    --cor7: #8A9BA6;
    --cor8: #3d4953;

    --color-neutro-0: #0E0C0C;
    --color-neutro-10: #111827;
    --color-neutro-20: #A8A29E;
    --color-neutro-30: #F5F5F5;
}

/* Estilos gerais */


header #sms {
    display: none;
    position: fixed;
    left: 2rem;
    top: 100px;
    background-color: var(--cor3);
    color: #8eff0dda;
    font-size: .9rem;
    padding: 0.9ex;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: opacity .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
}

.conteudo-principal {
    margin: 90px auto;

}

/* #container_filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* #filtros {
    display: flex;
    align-items: center;
    gap: 1rem;
} */

/* #filtros>input,
select {

    padding: .7rem;
    border-radius: 10px;
    border: none;
    border: 1px solid var(--cor7);
} */



/* .procurar-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.procurar-item input {
    padding: .1rem .4rem;
    border: none;
    outline: none;
    border-radius: 5px;
}

.procurar-item label {
    color: var(--color-neutro-30);
    font-size: 1.1rem;
    cursor: pointer;
} */

/* Seção de Produtos */

/* 
#produtos p {
    margin: 0 10px;
}

.lista-produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.item-produto {
    flex: 0 1 280px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1rem;
}

.item-produto img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 7px;
}

.item-produto .nome-item {
    font-size: 1em;
    margin-bottom: 5px;
    color: var(--cor3);
}

.descricao {
    font-size: .8rem;
    color: var(--cor8);
}

.item-produto .preco {
    font-size: .9em;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 10px;
}

.item-produto .preco-antigo {
    font-size: .8em;
    font-weight: 500;
    color: crimson;
    opacity: .9;
    text-decoration: line-through;
}

.avaliacao {
    color: #ffcb0c;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.item-produto .comprar, .adicionar {
    flex: 1;
    color: var(--color-neutro-30);
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    cursor: pointer;
    font-weight: 500;
    padding: .3rem;

    transition: all .3s;
}

.item-produto .adicionar{
    background: var(--cor1);
}

.item-produto .comprar {
    background-color: #047857;
}

.item-produto .comprar:hover {
    background: #03573f;
}

.item-produto .adicionar:hover{
    background: #023299;
}

.item-produto .comprar:active, .adicionar:active{
    scale: 0.9;
}

.item-produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
} */

/* #carregar{
    margin: auto;
}

#carregar button{
    background-color: #dddddda6;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    font-size: 12pt;
    cursor: pointer;

       transition: all .3s ease-in-out;
}

#carregar button:hover{
    background: #b1b0b093;
} */