/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav ul li {
    font-size: 1.1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Seção Home */
#home {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}

#home h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#home p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.botao-produtos {
    background-color: #f39c12;
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botao-produtos:hover {
    background-color: #e67e22;
}

/* Seção de Produtos */
#produtos {
    padding: 50px 0;
    background-color: #fff;
}

#produtos h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.produtos-lista {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.produto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.produto .descricao {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.produto .preco {
    font-size: 1.3em;
    font-weight: bold;
    color: #e67e22;
    margin-bottom: 20px;
}

.produto .adicionar {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produto .adicionar:hover {
    background-color: #e67e22;
}

.produto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#home{
    border: 2px solid green;
    height: 100vh;
    width: 100vw;
}