@charset "UTF-8";

:root {
    --cor10: #212121;
    --cor15: #263238;
    --cor20: #F5F5F5;
    --cor30: #2196F3;
    --cor40: #673AB7;
    --cor50: #0D47A1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 20px;
    padding: 0 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15fr 1fr;
    background: var(--cor20);
}

#descricao{
    /*border: 2px dotted green;*/
    width: 100%;
    height: 100%;
    float: left;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#descricao #content{
    font-size: 20px;
    line-height: 1.5rem;
    padding: 15px;
    font-weight: 500;
    text-align: justify;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}
#btn{
    text-align: center;
}
#descricao button{
    border: none;
    outline: none;
    border: 2px solid #8e0ae6e3;
    border-radius: 13px;
    padding: 1rem;
    font-size: 20px;
    background-color: #022b68;
    transition: ease-in-out .3s;
}

button a{
    text-decoration: none;
    color: var(--cor20);

}

#descricao button:hover{
    background-color: #000;
}

.imagem {
    width: 100%;
    height: 100%;
    float: right;
    /*border: 2px dotted green;*/
    background: url('../Images/Programming.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    grid-column: span 2;
    border-top: 2px solid #8e0ae6e3;
    float: bottom;
    height: 100%;

}
#copy {
    background-color: #0C1139;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


    color: #A8A29E;
    letter-spacing: 1.2px;
}